cd "{{{directory}}}"

{{#added_links}}
commitments share '{{{file_name}}}' with '{{{.}}}'
{{/added_links}}
{{#removed_links}}
commitments unshare '{{{file_name}}}' with '{{{.}}}'
{{/removed_links}}

{{#added_tags}}
#commitments add tag '{{{.}}}'
{{/added_tags}}
{{#removed_tags}}
#commitments add tag '{{{.}}}'
{{/removed_tags}}

{{#mark_done}}
#commitments mark task done '{{{file_name}}}'
{{/mark_done}}
{{#unmark_done}}
#commitments unmark task done '{{{file_name}}}'
{{/unmark_done}}

{{#updated_comments}}
#commitments update comment '{{{file_name}}}' '{{{hash}}}'
{{/updated_comments}}
